
.section {
    width: 100vw; 
    padding: 10px 100px; 
    box-sizing: border-box; 
    margin-top: 64px; 
  }
  
  .heading {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 32px; 
  }
  

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 62px; 
  }
  
  .card {
    background-color: #9dd2f5; 
    border-radius: 8px;
    padding: 24px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    box-sizing: border-box;
  }
  
  .card-title {
    font-size: 1.25rem; 
    font-weight: bold;
    margin-bottom: 16px; 
  }
  
  .card-text {
    color: #121419; 
  }
    button {
      width: 100%;
      background: linear-gradient(to right, #b4bcc1, #8c9aa8);
      color: white;
      font-weight: 700;
      padding: 12px 24px;
      border: none;
      border-radius: 9999px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    button:hover {
      background: linear-gradient(to right, #a8e6ff, #8ac4ff);

      color: rgb(17, 16, 16);
      transform: scale(1.05);
    }
    
    button:disabled {
      background: #e5e7eb;
      cursor: not-allowed;
    }
    .button {
      border: none;
      outline: none;
    }
  