/* BigCard.css */

.big-card {
  background-color: var(--background-color); /* Use dynamic background color */
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.big-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--text-color); /* Use dynamic text color */
}

.big-card-text {
  font-size: 1.125rem;
  color: var(--text-color); /* Use dynamic text color */
  margin-bottom: 24px;
}

.big-card-button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.big-card-button {
  background-color: var(--primary-color); /* Use dynamic button color */
  color: var(--button-text-color); /* Use dynamic button text color */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 540;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 120px;
}

.big-card-button:hover {
  background-color: #0056b3; /* Adjust if needed */
}
