* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

main {
  flex-grow: 1;
  max-width: 3000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 9, 11);
  color: white;
  padding: 10px 20px; /* Adjust padding for better spacing */
}

header a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

header a .icon {
  width: 60px;
  height: 50px;
  color: white;
  padding: 3px;
  padding-top: 10px;
  /* If needed, add margin to adjust position */
}
header .logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-left: -20px;
}

header nav {
  display: flex;
  gap: 50px; /* Adjusted gap */
}

header nav a {
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #6d8ded;
}

/* Media Queries */
@media (max-width: 1024px) {
  header {
    padding: 10px 15px; /* Adjust padding for medium screens */
  }
  
  header nav {
    gap: 15px; /* Adjust gap for medium screens */
  }
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px; /* Adjust padding for smaller screens */
  }
  
  header .logo-text {
    font-size: 1.25rem; /* Adjust font size */
  }

  header nav {
    flex-direction: column;
    gap: 10px; /* Adjust gap for smaller screens */
    margin-top: 10px; /* Add margin for spacing */
  }
  
  header nav a {
    font-size: 0.875rem; /* Adjust font size */
  }
}

@media (max-width: 480px) {
  header .logo-text {
    font-size: 1rem; /* Adjust font size */
  }

  header nav {
    gap: 8px; /* Adjust gap for very small screens */
  }

  header nav a {
    font-size: 0.75rem; /* Adjust font size */
  }
}
